@import '../../base/index';

.widget-full-cover{
    .img-container{
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        position: relative;
        height: calc(100vh - #{$header-height-sm});
        margin:0;
        @include desktop{
            height: calc(100vh - #{$header-height-lg});
        }

        .content{
            @include vertical-align(absolute);
            padding-left: 10%;

            label{
                color: $brand;
                @include font-size($xxxl-font);
                font-weight: normal;
            }

            p{
                font-weight: bold;
                text-transform: uppercase;
                @include font-size($xs-font);
            }
            
            
        }
    } 
}