@import '../../base/index';
.widget-icon-card-list{
    .widget-header{
        h1{
            span{
                font-weight: normal;
                border-left: 2px solid $black;
                padding: 0 20px;
                margin:  0 20px;
                text-transform: none;
            }
        }
    }
    
    .widget-content{
        padding-top: 40px;
        padding-bottom: 40px; 
        a{
            background: $white;
            padding: 30px 20px;
            border: 2px solid transparent;
            display: block;
            cursor: pointer;
            height: calc(100% - 30px);
            margin-bottom: 30px;
            text-decoration: none;


            &:hover{
                border-color: $primary;
            }

            .tile-icon{
                @include vertical-align(relative);
                
            
                
                button{
                    display: block;
                    margin: 0 auto;
                }
                i{
                    
                    text-align: center;
                    color: $brand;
                    font-size: 60px; 
                    &.selected{
                        color: $primary;
                    }
                }
                .icon-container{
                    width: 90px;
                    height: 90px;
                    line-height: 70px;
                }
                h2{
                    color: $black;
                }
                
                p{
                    color: $brand;
                    font-weight: bold;
                    margin: 0;
                    text-transform: uppercase;
                }
                
            }
        }
        
    }
    .widget-footer{
        text-align: center;
        padding-bottom: 40px; 
    }
}