@import '../../base/index';
.header{
    height: 500px;
    position: relative;
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            color: $grey;
            font-weight: 200;
            text-transform: uppercase;
            @include font-size($xxl-font);
            span{
                color: $orange;
                font-weight: 600;
            }
        }
        p{
            font-weight: 300;
            @include font-size($xs-font);
            span{
                font-weight: 600;
            }
        }
        i{
            color: $white;
            width: 50%;
            margin: 10px auto;
        }
    }
    @media (max-width: map-get($breakpoints, sm)) {
        .container{
            padding: 0;
            width: 300px;
        }
    }
}
.iddo-header{
    height: 500px;
    position: relative;
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            font-weight: 200;
        }
        label{
            color: $blue;
            @include font-size($xs-font);
        }
    }
}