@import '../../base/index';

.widget-card-slider{
    padding-bottom: 30px;
    .widget-header{
        padding: 15px 40px;
        h1{
            @include font-size($md-font);
        }

    }
    .widget-content{
        padding: 15px 40px;
        .swiper-slide{
            padding: 30px;
            a{
                text-decoration: none;
            }
            h2{
                color: $black;
            }

            img{
                max-width: 100%;
            }
            &:hover{
                .tile-icon{
                    .icon-container{
                        color: $white;
                        background: $brand;
                        border-color: $brand;
                        @include transition(all .2s ease-in-out);
                    }

                }
            }

            

        }
        
        .swiper-button-next{
            background-image: none;
            color: $black;
            vertical-align: middle;
            right: 0;
            width: 60px;
            height: 60px;
            @include font-size($xxxl-font);
            @include ifont();
            &:after{
                content: "\e90b";
                border-left: 1px solid $grey;
            }
        }

        .swiper-button-prev{
            background-image: none;
            color: $black;
            vertical-align: middle;
            left: 0;
            width: 60px;
            height: 60px;
            @include font-size($xxxl-font);
            @include ifont();
            &:before{
                content: "\e90a";
                border-right: 1px solid $grey;
            }
        }

        .swiper-pagination{
            bottom:-20px;
            width: 100%;

            .swiper-pagination-bullet{
                width: 5px;
                height: 5px;
                margin: 10px;
                background: $primary;
                opacity: 1;
                vertical-align: middle;

                &.swiper-pagination-bullet-active{
                    width: 15px;
                    height: 15px;
                }
            }

            
        }
    }

    .widget-footer{
        .widget-options{
            text-align: center;
            padding: 25px;
            border-top: 1px solid $grey;
            margin-top: 25px;
        }
       
    }
    
    
    
}