@import '../../base/index';
.widget-vertical-tabs{
    .widget-header{
        padding: 15px 40px;
        @include tablet-mobile{
            display: none;
        }
    }
    
    .widget-content{
        .level-2{
            @include tablet-mobile{
                top: 0;
                position: absolute;
                bottom: 0;
                height: 100vh;
                background: $secondary;
            }
        }
        
        .list-container{
            padding: 30px 0;
            border-right: 1px solid $grey;
            max-height: 400px;
            @include tablet-mobile{
                padding-top:0;
            }
            ul{
                border: none;
                li{
                    &:first-child{
                        @include tablet-mobile{
                            border-top: none !important;
                        }
                    }
                    
                    a.nav-link{
                        
                        padding: 20px;
                        padding-left: 30px;
                        border-radius: 0;
                        border: none;
                        i{
                            font-size: 40px;
                            color: $black;
                        }
                        .icon-container{
                            background: $primary;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            i{
                              
                                color: $white;
                            }
                        }
                        
                        .details{
                            padding-left: 20px;
                            h2{
                                @include font-size($sm-font);
                                margin: 0;
                                text-transform: capitalize;
                                color: $black;
                            }
                            p{
                                font-weight: 300;
                                color: $black;
                                margin: 0;
                                @include font-size($xs-font);
                            }
                        }
    
                        &.active, &:hover{
                            background:rgba($white, 0.4);
                            h2, i{
                                color: $brand;
                            }
                            .icon-container{
                                i{
                                    color: $white;
                                }
                            }
                        }
                    }
                    
                }
            }
           
           
        }
    }
}