@import '../../base/index';

.widget-topic{

    .widget-header{
    }
    .widget-content{
        padding: 40px 40px 0px;
        h2{
            @include font-size($md-font);
            font-weight: 600;
        }
        p{
            @include font-size($sm-font);
            font-weight: 400;
            margin-bottom: 40px
        }
    }
}
