@import '../../base/index';

.widget-action{
    .widget-content{
        padding-top: 20px;
    }
    .widget-footer{
        padding-bottom: 30px;
        padding-top: 20px;
        text-align: center;
    }
}