@import '../../base/index';
.widget-tabs{
    background: $white;
    font-weight: bold;
    color: #666;

    .nav-tabs{
        padding: 15px 15px 0 15px;
        .nav-link{
            border:none;
            color: $black;
            padding-bottom: 15px;
            text-transform: uppercase;
            &.active{
                border-bottom: 1px solid $brand;
                color: $brand;
            }
            // &:hover, &:focus{
            //     border:none;
            // }
            
        }
    }

    .tab-pane{
        padding: 0 15px;
    }

    .table{
        td{
            border: none;

            i{
                @include font-size($lg-font)
            }
        }
    }
}