@import '../../base/index';

.widget-page-cover{
    .img-container{
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        height: 400px;
        margin-bottom: -60px;
        position: relative;
        &:before{
            background: rgba(0,0,0,0.4);
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: "";
        }
        
        @include tablet{
            height: 300px;
        }
        @include mobile{
            height: 250px;
        }

        .content{
            text-align: center;
            @include vertical-align(absolute);
            top: calc(50% - 30px);
            width: 100%;
            z-index:2;

            .icon-container{
                background: $brand;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 20px;
                @include tablet{
                    width: 80px;
                    height: 80px;
                    margin-bottom: 10px;
                }

                @include mobile{
                    width: 60px;
                    height: 60px;
                    margin-bottom: 10px;
                }

                i{
                    font-size: 100px;
                    color: #fff;
                    @include tablet{
                        font-size: 80px;
                    }
                    @include mobile{
                        font-size: 60px;
                    }
                }
                
            }
            h1{
                @include font-size($lg-font);
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
            }
            h2{
                @include font-size($sm-font);
                color: $white;
                font-weight: normal;
                margin-bottom: 0;
            }
            .btn{
                border-color: $white;
                color: $white;
                margin-top: 20px;
                
                &:hover, &:focus{
                    background: $white;
                    color: $brand;
                }
            }
        }
    } 
}