@import '../../base/index';
.widget-comments{
    .widget-header{
        border-top: 1px solid $grey;
        margin-top: 30px;
    }
    .widget-content{
        padding: 30px 0;

        textarea{
            border: none;
            padding: 20px;
        }

        .comments-list{
            border-top: 1px solid $grey;
            padding-top: 50px;
            margin-top: 30px;
            @include clearfix;

            .comment-container{
                @include clearfix;
                margin-bottom: 30px;
                &.flip{
                    .comment-author{
                        margin-left: 20px;
                        margin-right: 0px;
                    }
                }
                .comment-author{
                    text-align: center;
                    margin-right: 20px;
                    .author-picture{
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        border: 1px solid #cbc5bc;
                        img{
                            height: 100%;
                        }
                    }
                    p{
                        @include font-size($xxs-font);
                        margin: 0;
                        color: #a6abb1;
                        font-weight: bold;
                    }
                }
                .comment{
                    background: darken($secondary, 3%);
                    padding: 20px;
                    .comment-header{
                        span{
                            color: $black;
                            font-weight: bold;
                            
                            &:not(:last-child){
                                &::after{
                                    content: "|";
                                    padding: 0 10px;


                                }
                            }
                        }
                        margin-bottom: 5px;
                    }
                    p{
                        @include font-size($xs-font);
                    }


                    .comment-footer{
                        span{
                            color: #a6abb1;
                            font-weight: bold;
                            @include font-size($xs-font);

                            &:not(:last-of-type){
                                &::after{
                                    content: "|";
                                    padding: 0 10px;
                                }
                            }
                        }
                        .actions{
                             float: right;
                             
                             a{
                                color: $brand;
                                cursor: pointer;
                                @include font-size($xs-font);
                                font-weight: bold;
                                margin-left: 10px;
                                i{
                                    @include font-size($xl-font);
                                }
                            }
                            @include mobile{
                                float: none;
                                
                                a{
                                    margin-left: 0;
                                    margin-right: 10px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }

    .widget-footer{
        text-align: center;
    }
}