@import '../../base/index';

html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscal;
    height: 100%;
    background-color: $secondary;
}

body {
    width: 100%;
    height: 100%;
    background-color: $primary;
    //font-family: $font;
}

////////////
// Extend Bootstrap Container
///////////
@media (min-width: map-get($breakpoints, xxl)) {
    .container {
        width: 1360px;
        max-width: 100%;
    }
}

//////////////
// headers
////////////
h1{
    font-weight: 500;
}
h2{
    font-weight: 500;
}

//////////////
// links
////////////


////////////
// Page Canvas
///////////
.canv{
    max-width: map-get($breakpoints, xxl); 
    margin: 0 auto;
    position: relative;
    //overflow-x: hidden;
    -webkit-box-shadow: 0px 0px 100px -25px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.25);
    background: $secondary;
    
    
}
