@import '../../base/index';
.widget-cover-slider {
    position: relative;
    .swiper-container {
        height: 100%;
       
        .swiper-wrapper {
            height: 100%;
            .swiper-slide {
                height: 100%;
                background-color: $white;
                position: relative;
                .slide-img {
                    //position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 270px;
                    position: relative;
                    background-size: cover;
                    background-position: center center;
                    &:before {
                        content: '';
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        @include linear-gradient(to bottom, rgba($black, 0.7) 0%, transparent 50%);
                    }
                }
                .slide-content {
                    height: 100%;
                    padding-top: 1em;
                    .container-fluid,
                    .container {
                        height: 100%;
                        position: relative;
                        .row {
                            height: 100%;
                            ul.list-icons {
                             
                                li {
                                    @include font-size($sm-font);
                                  
                                    i {
                                        @include font-size($xxl-font);
                                     
                                        color: $brand;
                                    }
                                }
                            }
                            .badge {}
                            h2 {
                                margin: 0.5em 0 1em;
                                @include font-size($xxl-font);
                            }
                            p {
                                margin: 0.5em auto;
                            }
                        }
                    }
                }
                &.swiper-slide-active {
                    .slide-content {
                        .container-fluid,
                        .container {
                            .row {
                                label {
                                    @include animation('slide-down 0.75s  normal 0.75s backwards ease');
                                    opacity: 1;
                                }
                                h2 {
                                    @include animation('fade 1.5s normal 0.5s backwards ease');
                                }
                                p {
                                    @include animation('slide-up 1s  normal 1s backwards ease');
                                    opacity: 1;
                                }
                                .btn {
                                    @include animation('slide-up 0.75s  normal 0.75s backwards ease');
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .swiper-arrows {
        position: absolute;
        width: 100%;
        bottom: 0;

        @include tablet-mobile{
            top: 0;
        }
        .swiper-button-next,
        .swiper-button-prev {

            position: relative;
            top: auto;
            width: 40px;
            height: auto;
            margin-top: 0;
            line-height: 1;
            display: inline-block;
            background-image: none;
            @include font-size($xxxl-font);
            color: $black;
            &:before {
                @include ifont;
                //position: absolute;
                
            }
        }
        .swiper-button-prev {
            &:before {
         
                content: "\e906";
            }
        }
        .swiper-button-next {
            &:before {
             
                content: "\e907";
            }
        }

        .swiper-pagination{
            position: static;
            text-align: right;
            padding-bottom: 30px;
            
            .swiper-pagination-bullet{
                width: 5px;
                height: 5px;
                margin: 10px;
                background: $white;
                opacity: 1;
                vertical-align: middle;

                &.swiper-pagination-bullet-active{
                    width: 15px;
                    height: 15px;
                }
            }
            
    
                
           
        }
    }
    @media (min-width: map-get($breakpoints, sm)) {
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    .slide-img {
                        height: 360px;
                    }
                }
            }
        }
    }
    @media (min-width: map-get($breakpoints, md)) {
        height: 520px;
        .swiper-container {
            height: 100%;
            .swiper-wrapper {
                height: 100%;
                .swiper-slide {
                    height: 100%;
                    .slide-img {
                        position: absolute;
                        height: 100%;
                    }
                    .slide-content {
                        padding: 0;
                        color: $white;
                        .container-fluid,
                        .container {
                            .row {
                                ul.list-icons {
                                    li {
                                        i {
                                            color: $white;
                                        }
                                    }
                                }
                                h2{

                                }
                            }
                        }
                    }
                }
            }
        }

        .swiper-arrows {
            .swiper-button-next,
            .swiper-button-prev {
                color: $white;
              
            }
            
        }

    } // @media (min-width: map-get($breakpoints, lg)) {
    //     height: 641px;
    //     .swiper-container {
    //         .swiper-wrapper {
    //             .swiper-slide {
    //                 .slide-content {
    //                     .container-fluid,
    //                     .container {
    //                         .row {}
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    // @media (min-width: map-get($breakpoints, xl)) {
    //     height: 700px;
    // }
    // @media (min-width: map-get($breakpoints, xxl)) {
    //     height: 775px;
    // }
}