
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/////////////////
// Fonts
////////////////
$xxxl-font: (
  null  : 34px,
  xs : 34px,
  md : 40px,
  lg : 40px,
  
);
$xxl-font: (
  null  : 20px,
  xs : 20px,
  md : 24px,
  lg : 24px,
  
);
$xl-font: (
  null  : 18px,
  xs : 18px,
  md : 21px,
  lg : 21px,
  
);
$lg-font: (
  null  : 15px,
  xs : 15px,
  md : 18px,
  lg : 18px,
  
);
$md-font: (
  null  : 14px,
  xs : 14px,
  md : 16px,
  lg : 16px,
  
);
$sm-font: (
  null  : 12px,
  xs : 12px,
  md : 14px,
  lg : 14px,
  
);
$xs-font: (
  null  : 10px,
  xs : 10px,
  md : 12px,
  lg : 12px,
  
);

/////////////////
// Colors
////////////////
$skyblue: #0082c9;
$seablue:#003ca6;
$darkblue: #002d73;
$silver: #efefef;
$black: #333333;
$white: #fff;