
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/////////////////
// Fonts
////////////////
$xl-font: (
  null  : 5px,
  xs : 16px,
  sm: 49px,
  lg : 119px,
  xg : 119px
);

/////////////////
// Colors
////////////////
$blue: #002d73;
$silver: #f6f6f6;
$lighgrey: #adafb1;
$lightgrey: #dcdcdc;
$grey: #5e5f61;
$black: #333333;
$white: #fff;