@import '../../base/index';

.widget-meta{
    .content{
        padding: 20px;
        @include font-size($xxs-font);
        

        label{
            font-weight: bold;
            padding-right: 5px;
            margin:0;
        }
        span{
            font-weight: normal;
        }
    }
    &.light{
        .content{
            color: $brand;
            background: rgba(255,255,255,0.6);
        }

    }
    &.dark{
        .content{
            color: $white;
            background: rgba(0,0,0,0.6);
        }

    }
    
    
}