// English Font Face
@font-face {
	font-family: 'Apex New';
	src: url('../../dist/fonts/ApexNew/ApexNew-Heavy.eot');
	src: url('../../dist/fonts/ApexNew/ApexNew-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/ApexNew/ApexNew-Heavy.woff') format('woff'),
		url('../../dist/fonts/ApexNew/ApexNew-Heavy.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'Apex New';
	src: url('../../dist/fonts/ApexNew/ApexNew-Bold.eot');
	src: url('../../dist/fonts/ApexNew/ApexNew-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/ApexNew/ApexNew-Bold.woff') format('woff'),
		url('../../dist/fonts/ApexNew/ApexNew-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New Book';
	src: url('../../dist/fonts/ApexNew/ApexNew-Book.eot');
	src: url('../../dist/fonts/ApexNew/ApexNew-Book.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/ApexNew/ApexNew-Book.woff') format('woff'),
		url('../../dist/fonts/ApexNew/ApexNew-Book.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New';
	src: url('../../dist/fonts/ApexNew/ApexNew-Medium.eot');
	src: url('../../dist/fonts/ApexNew/ApexNew-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/ApexNew/ApexNew-Medium.woff') format('woff'),
		url('../../dist/fonts/ApexNew/ApexNew-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New';
	src: url('../../dist/fonts/ApexNew/ApexNew-Light.eot');
	src: url('../../dist/fonts/ApexNew/ApexNew-Light.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/ApexNew/ApexNew-Light.woff') format('woff'),
		url('../../dist/fonts/ApexNew/ApexNew-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Apex New';
	src: url('../../dist/fonts/ApexNew/ApexNew-Thin.eot');
	src: url('../../dist/fonts/ApexNew/ApexNew-Thin.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/ApexNew/ApexNew-Thin.woff') format('woff'),
		url('../../dist/fonts/ApexNew/ApexNew-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}



// Arabic Font Face
@font-face {
	font-family: 'Univers Next Arabic';
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.eot');
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.woff') format('woff'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'Univers Next Arabic';
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.eot');
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.woff') format('woff'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Univers Next Arabic';
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.eot');
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.woff') format('woff'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Bold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Univers Next Arabic';
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.eot');
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.woff') format('woff'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Univers Next Arabic';
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.eot');
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.woff') format('woff'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Univers Next Arabic';
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.eot');
	src: url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.eot?#iefix') format('embedded-opentype'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.woff') format('woff'),
		url('../../dist/fonts/UniversNextArabic/UniversNextArabic-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

// IcoMoon
@font-face {
  font-family: 'icomoon';  
  src:  url('../../dist/fonts/Icon/icomoon.eot?cqsh92');
  src:  url('../../dist/fonts/Icon/icomoon.eot?cqsh92#iefix') format('embedded-opentype'),
    url('../../dist/fonts/Icon/icomoon.ttf?cqsh92') format('truetype'),
    url('../../dist/fonts/Icon/icomoon.woff?cqsh92') format('woff'),
    url('../../dist/fonts/Icon/icomoon.svg?cqsh92#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
