
.icon-facebook:before {
    content: "\e913";
    color: #3b5998;
  }
  .icon-google:before {
    content: "\e914";
    color: #4285f4;
  }
  .icon-google-plus:before {
    content: "\e915";
    color: #dc4e41;
  }
  .icon-brand4:before {
    content: "\e916";
    color: #0077b5;
  }
  .icon-access:before {
    content: "\e917";
    color: #ba141a;
  }
  .icon-excel:before {
    content: "\e918";
    color: #217346;
  }
  .icon-onenote:before {
    content: "\e919";
    color: #80397b;
  }
  .icon-outlook:before {
    content: "\e91a";
    color: #0072c6;
  }
  .icon-powerpoint:before {
    content: "\e91b";
    color: #d24726;
  }
  .icon-word:before {
    content: "\e91c";
    color: #2b579a;
  }
  .icon-skype:before {
    content: "\e91d";
    color: #00aff0;
  }
  .icon-twitter:before {
    content: "\e91e";
    color: #1da1f2;
  }
  .icon-vimeo:before {
    content: "\e91f";
    color: #1ab7ea;
  }
  .icon-whatsapp:before {
    content: "\e920";
    color: #25d366;
  }
  .icon-youtube:before {
    content: "\e921";
    color: #cd201f;
  }
  .icon-arrow-down:before {
    content: "\e900";
  }
  .icon-arrow-left:before {
    content: "\e901";
  }
  .icon-arrow-right:before {
    content: "\e902";
  }
  .icon-arrow-up:before {
    content: "\e903";
  }
  .icon-bell:before {
    content: "\e904";
  }
  .icon-chev-circle-down:before {
    content: "\e905";
  }
  .icon-chev-circle-left:before {
    content: "\e906";
  }
  .icon-chev-circle-right:before {
    content: "\e907";
  }
  .icon-chev-circle-up:before {
    content: "\e908";
  }
  .icon-chev-down:before {
    content: "\e909";
  }
  .icon-chev-left:before {
    content: "\e90a";
  }
  .icon-chev-right:before {
    content: "\e90b";
  }
  .icon-chev-up:before {
    content: "\e90c";
  }
  .icon-comment:before {
    content: "\e90d";
  }
  .icon-icons_video:before {
    content: "\e90e";
  }
  .icon-like:before {
    content: "\e90f";
  }
  .icon-news:before {
    content: "\e910";
  }
  .icon-speech:before {
    content: "\e911";
  }
  .icon-tag:before {
    content: "\e912";
  }
  