@import "../../base/index";

.about {
    margin: 70px auto;

    img {
        width: 75%;

        @media (max-width: map-get($breakpoints, lg)) {
            margin-bottom: 50px;
        }
    }

    label {
        text-transform: uppercase;
        color: $darkgrey;

        @include font-size($sm-font);
    }

    h2 {
        font-weight: 300;
        margin-bottom: 30px;
        text-transform: uppercase;

        @include font-size($xl-font);

        span {
            font-weight: 600;
        }
    }

    p {
        color: $darkgrey;
        margin-bottom: 30px;

        @include font-size($xs-font);
    }

    ul {
        color: $darkgrey;
        margin-bottom: 30px;
        padding-left: 15px;
        list-style-image: url("/dist/images/bullet.png");

        @include font-size($xs-font);

        li {
            font-weight: 600;

            span {
                font-style: italic;
                font-weight: 300;
            }
        }
    }

    button {
        text-transform: uppercase;
        color: $darkgrey;
        background-color: transparent;
        border: 1px solid $lightgrey;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 10px;
    }
}

.team {
    text-align: center;
    padding: 70px 5px;

    h2 {
        font-weight: 200;
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: center;

        @include font-size($xl-font);

        span {
            font-weight: 600;
        }
    }

    h3 {
        @include font-size($lg-font);

        line-height: 1;
        margin-bottom: 0;
        margin-top: 20px;
    }

    label {
        font-weight: 300;
        margin-bottom: 20px;

        @include font-size($sm-font);
    }

    p {
        font-weight: 300;

        @include font-size($xs-font);
    }

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }

    .services {
        margin-top: 50px;

        i {
            border: 4px solid $orange;
            border-radius: 50%;
            padding: 20px;

            @include font-size($xl-font);
        }

        h3 {
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }

    .work {
        margin-top: 50px;

        img {
            width: 100%;
            margin-top: 30px;
        }

        label {
            color: $black;
            font-weight: normal;
            float: left;
        }

        button {
            border: none;
            color: $darkgrey;
            padding: auto 20px;
            background-color: transparent;
            border-right: 1px solid $darkgrey;

            &:active {
                color: $black;
                box-shadow: none;
            }

            &:hover {
                color: $black;
                box-shadow: none;
            }
        }
    }

    &.testimonials {
        h3 {
            text-transform: uppercase;
            font-weight: 300;

            @include font-size($xs-font);

            line-height: 1.5;
        }

        p {
            color: $lightgrey;
            margin-top: 30px;
        }
    }

    form {
        width: 100%;

        label {
            color: $darkgrey;
            font-weight: 600;
            margin-bottom: 5px;
            margin-top: 25px;

            @include font-size($xs-font);

            span {
                color: $red;
            }
        }

        input {
            border-radius: 2px;
            border-color: $darkgrey;
        }

        textarea {
            border-radius: 2px;
            border-color: $darkgrey;
        }

        .btn-orange {
            color: $white;
            margin-top: 20px;
            border-radius: 2px;
            padding-left: 40px;
            padding-right: 40px;
            background-color: $orange;
            text-transform: uppercase;
        }
    }
}

.footer {
    padding: 20px;
    color: $lightgrey;

    h3 {
        text-transform: uppercase;

        @include font-size($xs-font);

        span {
            font-weight: 300;
        }
    }
    &.iddo{
        h2{
            color: $white;
            text-transform: uppercase;
            @include font-size($md-font);
        }
        h3{
            text-transform: none;
            color: $grey;
            @include font-size($xxs-font);
        }
    }
}
