@import "../../base/index";

.about {
    margin: 70px auto;

    img {
        width: 75%;

        @media (max-width: map-get($breakpoints, lg)) {
            margin-bottom: 50px;
        }
    }

    label {
        text-transform: uppercase;
        color: $darkgrey;

        @include font-size($sm-font);
    }

    h2 {
        font-weight: 300;
        margin-bottom: 30px;
        text-transform: uppercase;

        @include font-size($xl-font);

        span {
            font-weight: 600;
        }
    }

    p {
        color: $darkgrey;
        margin-bottom: 30px;

        @include font-size($xs-font);
    }

    ul {
        color: $darkgrey;
        margin-bottom: 30px;
        padding-left: 15px;

        @include font-size($xs-font);

        li {
            font-weight: 600;

            span {
                font-style: italic;
                font-weight: 300;
            }
        }
    }

    button {
        text-transform: uppercase;
        color: $darkgrey;
        background-color: transparent;
        border: 1px solid $grey;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 10px;
    }
}

.team {
    text-align: center;
    padding: 70px 5px;
    h2 {
        font-weight: 300;
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: center;

        @include font-size($xl-font);

        span {
            font-weight: 600;
        }
    }
    h3{
        @include font-size($lg-font);
        line-height: 1;
        margin-bottom: 0;
        margin-top: 20px;
    }
    label{
        font-weight: 300;
        margin-bottom: 20px;
        @include font-size($sm-font);
    }
    p{
        font-weight: 300;
        @include font-size($xs-font);
    }
    .services{
        margin-top: 50px;
        img{
            border: 4px solid $orange;
            border-radius: 50%;
            padding: 20px;
        }
        h3{
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }
}
