@import '../../base/index';
.widget-card{
    .widget-content{
        padding-left:0 !important;
        padding-right: 0 !important;
        .img-container{
            background-size: cover;
            width: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            height: 160px;
            position: relative; 
        } 
        .content{
            text-align: center;
            margin-top: -33px; 
            position: relative;
            z-index: 2;

            .icon-container{
                background: $brand;
                width: 66px;
                height: 66px;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 20px;
                border: 2px solid $white;
                

                i{
                    font-size: 66px;
                    color: #fff;
                    
                }
                
            }
        }
        h1{
            @include font-size($lg-font);
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
        h2{
            @include font-size($sm-font);
            font-weight: normal;
            text-align: center;
        }

    }
    .widget-footer{
        padding: 20px 0;
        text-align: center;
        // .btn{
        //     margin-bottom: 20px;
        // }


       .selectric-options-dropdown{
           float: none;
           margin: 0 auto;
           display: inline-block;
       }
    }
    
}