@import '../../base/index';
.widget-tweets-slider{
    height: 100%;
    .widget-content{
       padding-top: 30px;
       padding-bottom: 30px;
       .media{
           @include tablet-mobile{
               display:block;
           }
           
           .img-container{
                width: 40%;
                @include tablet-mobile{
                    width: 100%;
                }
            
                img{
                    width: 100%;
                }
            }

            p{
                padding-left: 20px; 
                @include font-size($sm-font);
                @include tablet-mobile{
                    padding-left: 0; 
                    padding-top: 20px;
                }
                a{
                    color: $brand;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        color: $brand;
                    }

                }

            }
       }
        

        .swiper-pagination{
            position: static;
            text-align: center;
            .swiper-pagination-bullet{
                width: 5px;
                height: 5px;
                margin: 10px;
                background: $white;
                opacity: 1;
                vertical-align: middle;

                &.swiper-pagination-bullet-active{
                    width: 15px;
                    height: 15px;
                }
            }
            
    
                
           
        }

    
        
       
    }
    
}