@import '../../base/index';
.widget-headline-list{
    .widget-header{
        padding: 0;
        border: none;
    }
    .widget-content{
        .tile-headline h2{
            @include font-size($md-font);
            font-weight: 300;
        }
        .details{
            margin-bottom: 30px; 
            .badge{
                font-size: 65%;
            }
            .reply-badge{
                font-size: 65%;
                font-weight: bold;
                .reply-status{
                    color: $brand;
                }
            }
            .list-icons{
                li{
                    @include font-size($xs-font);
                } 
            }
        }
        .img-container{
            width: 35%;
            float: left;
            margin-bottom: 30px; 

            + .details{
                width:65%;
                float: right;
                padding-left: 30px;
            }
        }
    }
}