@import '../../base/index';
.widget-widget-list{
    .widget-header{
        h1{
            span{
                font-weight: normal;
                border-left: 2px solid $black;
                padding: 0 20px;
                margin:  0 20px;
                text-transform: none;
            }
        }
    }
    .widget-footer{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px; 
    }

}