@import '../../base/index';

.widget-secondary-nav{
    background: rgba(darken($secondary,8%), 0.9);
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
        .widget-content{
            position: relative;
    
        label{
            padding-left: 20px;
            padding-right: 20px; 
            @include font-size($sm-font);
            @include vertical-align(relative);
            @include desktop{
                padding-left: $header-height-lg;
            }
            @include custom-width(#{map-get($breakpoints,lg)}, #{map-get($breakpoints,xl)}){
                padding-left:$header-height-md;
            }
        }
        .selectric-wrapper{
            display: inline-block;
            height: 64px;
            border-bottom: 2px solid transparent;
            bottom: 0;

           &.selectric-hover{
            border-color: $brand;
                .selectric{
                    .label{
                        color: $black;
                    }
                    .button{
                        &:after{
                            color: $black;
                        }

                    }
                }
           }
            
            .selectric{
                padding-top: 5px;
                padding-bottom: 5px;
                background: none;
                border: none;
                @include vertical-align(relative);
                
                
                .label{
                    color: $black;
                    margin-left: 20px;
                    margin-right: 48px;
                    color: darken($grey, 25%);
                    @include font-size($xs-font);
                }
                .button{
                    height: 48px;
                    width: 48px;
                    background: none;
                    &:after{
                        border: none;
                        content:"\E909";
                        @include ifont();
                        font-size: 40px;
                        color: darken($grey, 25%);
                        bottom: 38px;
                        right: 38px;
                    }
                }

               
        

                
            }
            .selectric-items{
                background: rgba(darken($secondary,8%), 0.9);
                border: none;
                @include shadow(0 6px 12px rgba(0, 0, 0, 0.175));
                ul{
                    li{
                        &:hover, &.highlighted{
                            background: rgba($secondary, 0.9);
                        }
                    }
                }
            }
            &.selectric-open{
                .selectric{
                    .button{
                        &:after{
                            content:"\E90C";
                        }
                    }
                }
        
            }
        }

    }
}