@import '../../base/index';

.widget-accordion{
    .widget-header{
        border: none;
        padding-right:0 !important;
        padding-left:0 !important;
        .header-content{
            padding: 0 30px;
        }
        .form-group{
            padding: 0 30px;
            margin: 0;
            border-top: 1px solid $grey;
            position: relative;
            i{
                @include font-size($xxl-font);
                left: 30px;
                color: $black;
                display: inline-block;
                @include vertical-align(absolute);
            }
            
            input{
                border-radius: 0;
                border: none;
                padding: 15px 40px;
                @include font-size($sm-font);
            }
        }
    }
    .widget-content{
        padding-right:0 !important;
        padding-left:0 !important;

        dl{
            margin:0;
            dt{
                background: #DDE2E8;
                &:not(:last-of-type){
                    margin-bottom: 2px;
                }
                
                a{
                    text-decoration: none;
                    color: $black;
                    padding: 3px 30px;
                    text-transform: uppercase;
                    
                    &.collapsed{
                        i{
                            @include transform(rotate(-180deg));
                        }
                    }
                    h5{
                        @include font-size($xs-font);
                        font-weight: 800;
                        margin:0;
                        line-height: 36px;
                    }
                    
                    i{
                        display: inline-block;
                        @include font-size($xl-font);
                    }
                }
            }
            dd{
                
                margin-bottom: 0;
                background: lighten($secondary, 2%);
                padding: 20px 0;

                &:not(:last-of-type){
                    margin-top: -2px;
                }
                
                ul{
                    padding: 0;
                    list-style: none;
                    margin:0;
                    
                    li{
                        padding: 0 30px;
                        margin-bottom: 10px; 
                        .img-container{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                            img{
                                height: 100%;
                            }
                        }
                        .media-body{
                            padding-left: 20px;
                            padding-top: 8px;

                            h5{
                                font-weight: bold;
                                @include font-size($sm-font);
                                text-transform: capitalize;
                            }

                            p{
                                @include font-size($xs-font);
                                text-transform: capitalize;
                            }
                        }
                        
                    }
                   
                }
            }
        }
    }
}