@import '../../base/index';
.widget-treetable{
    .widget-header{
        .form-group{
            padding:0;
            margin: 0;
            position: relative;
            display: inline-block;
            margin-top: 2px;
            i{
                @include font-size($xxl-font);
                left: 0;
                color: $brand;
                display: inline-block;
                @include vertical-align(absolute);
            }
            
            input{
                border-radius: 0;
                border: none;
                padding: 0 5px 0 40px;
                @include font-size($xs-font);
                background: none;
                color: $brand;
                height: 31px;
                line-height: 31px;
                font-weight: bold;
                @include placeholder{
                    color: $brand;
                    text-transform: uppercase;
                    @include font-size($xxs-font);
                }
            }
        }
    }

    .widget-content{


        table{
            border: none;
            background: none;
            font-family: $font;

            thead{
                tr{
                    th{
                        background-color: $secondary;
                        border: none;
                        text-transform: uppercase;
                        @include font-size($xxs-font);
                        padding: 12px 8px !important;
                        outline: none;

                        &.tablesorter-headerAsc, &.tablesorter-headerDesc{
                            border-bottom: 2px solid $black;
                        }
                    }
                    
                }
            }

            tbody{
                tr{
                    
                    
                    td{
                        @include font-size($sm-font);
                        padding: 12px 8px;
                        border: none;
                        position: relative;
                        font-weight: 300;
                        

                        &:first-child{
                            font-weight: normal;
                            white-space: nowrap;

                        
                                .indenter{
                                    position: relative;
                                    width: 35px;
                                    margin-right: 20px;
                                    a{
                                        background: none;
                                        &:before{
                                            @include ifont();
                                            font-size: 35px;
                                            color: $black;
                                            position: absolute;
                                            right: 0;
                                            top: -10px;
                                        
                                        }
        
                                        &:after{
                                            @include ifont();
                                            font-size: 35px;
                                            color: $brand;
                                            position: absolute;
                                            right: -22px;
                                            top: -10px;
        
                                        }
                                    } 
                                }

                        }

                        i{
                            @include font-size($xxl-font);
                            color: $brand;
                            position: absolute;
                            top: 0;
                            right: 8px;
                        }
                        
                    
                    }
                
                    &.odd{
                        td{
                            background: $white;
                        }
                    }
                    &.even{
                        td{
                            background: lighten($secondary, 2%);
                        }
                    }

                    &.branch{
                        td:first-child{
                            .indenter{
                                a{

                                    &:after{
                                        content: "\E904";
                                    }
                                } 
                            }

                        }
                        &.collapsed{
                            td:first-child{
                                .indenter{
                                    a{
                                    
                                        &:before{
                                            content: "\E90B";
                                        }
                                    } 
                                }
        
                            }

                        }
                        &.expanded{
                            td:first-child{
                                .indenter{
                                    a{
                                    
                                        &:before{
                                            content:  "\E909";
                                        }
                                    } 
                                }
        
                            }

                        }
                        

                    }
                    &.leaf{
                        td:first-child{
                            .indenter{
                                &:after{
                                    content:  "\E910";
                                    @include ifont();
                                    font-size: 35px;
                                    color: $brand;
                                    position: absolute;
                                    right: -20px;
                                    top: -24px;
                                
                                }
                            }

                        }
                    }
                }
            }
        }
    } 
}