@import '../../base/index';

.widget-icon-list{
    .widget-header{
        color: $white;
        border-color: $white;
        i{
            color: $white;
        }
    }
    .widget-content{
        padding: 5px 15px;
        .list-grid {
            color: $white;
            padding: 25px 5px;
            .tile-icon{
                .icon-container{
                    width: 60px;
                    height: 60px;
                    line-height: 50px;
                    border-color: $white;
                }
                p{
                    color: $white;
                }
            }
            i{
                @include font-size($xxl-font);
                color: $white;
            }
        }
    }
    
}