@import '../../base/index';

// .tile-list{
//     padding-right: 15px;
//     padding-left: 15px;
//     .header{
//         border-bottom: 1px solid $grey ;
//         padding: 20px 40px;

//         h1{
//             font-weight: normal;
//             @include font-size($lg-font);
//         }

//         a{
//             @include font-size($xs-font);
//             text-align-last: end;
//             font-weight: 800;
//             text-transform: uppercase;
            
//             i{
//                 @include font-size($xl-font);
//                 vertical-align: middle;
//                 color: $brand;
//             }
//         }
//     }

//     .content{
//         padding: 30px 40px;

//         img{
//             max-width: 177px;
//         }

//         h2{
//             @include font-size($lg-font);
//             margin: 10px 0;
//             font-weight: bold;
//         }

//         p{
//             @include font-size($xs-font);
//         }
        
//     }      
// }

.tile-icon{
    width: 100%;
    text-align: center;
    text-decoration: none;
    &.horizontal{
        text-align: left;
        .icon-container{
            margin: 0;
            margin-right: 20px;
            display: inline-block;
        }
    }
    .icon-container{
        border: 1px solid $grey;
        color: $brand;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        font-size: 80px;
        line-height: 100px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
       
    }

    &.inverse{
        .icon-container{
            background: $brand;
            color: $white;
            border: none;
        }
    }
    h2{
        @include font-size($sm-font);
        margin: 10px 0;
        font-weight: 800;
        text-transform: uppercase;
    }
    h3{
        @include font-size($sm-font);
        margin: 10px 0;
        font-weight: 800;
        text-transform: uppercase;
        color: $brand;
    }

    p{
        @include font-size($xs-font);
        color:lighten($black,25%);
    }
}

.tile-link{
    padding: 40px 0px;
    a{
        color: $black;
        text-decoration: none;
        @include font-size($md-font);
        i{
            @include font-size($xl-font);
        }
    }
}

.tile-headline{
    img{
        width: 100%;
        height: auto;
    }
    .title{
        color: $brand;
        text-transform: uppercase;
        font-weight: bold;
        @include font-size($xxs-font);
        i{
            @include font-size($xxl-font);
        }
    }
    ul.list-icons {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            @include font-size($sm-font);
            font-weight: bold;
            display: inline;
            
            i {
                @include font-size($xxl-font);
                vertical-align: middle;
                font-weight: normal;
                color: $brand;

                .bg-primary &, .bg-brand &{
                    color: $white;
                }
            }

            &.remove{
                text-transform: uppercase;
                color: $brand;
            }
        }
        
    }
    h2 {
        margin: 0.5em 0 1em;
        @include font-size($xxxl-font);
    }
    p {
        margin: 0.5em auto;
    }
    .info{
        span{
            padding-right: 10px;
            white-space: nowrap;
            font-weight: 800;
            i{
                @include font-size($xl-font);
                color: $brand;
            }
        }
    }
    .bg-primary &, .bg-brand &{
        color: $white;
    }
}