@import '../../base/index';

.widget-action-list{
    .widget-header{
        h1{
            font-weight: normal;
            text-transform: none;
            line-height: 30px;
            padding: 20px 0;
            @include font-size($md-font);
            span{
                @include font-size($lg-font);
                text-transform: none;
            }
        }
    }
    .widget-content{
        padding: 40px 0;
        ul{
            padding: 0;
            list-style: none;
            li{
                margin-bottom: 20px;
                background: $white;

                .media{
                    text-decoration: none;
                    color: $black;
                    padding: 5px 30px;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;

                    .media-left{
                        .img-container{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            overflow: hidden;
                            @include mobile{
                                width: 60px;
                                height: 60px;
                            }
                            img{
                                height: 100%;
                            }
                        }
                    }
                    .details{
                        padding: 20px;
                        margin-top: 20px;

                        span{
                            font-weight: normal;
                        }

                        h2{
                            font-weight: bold;
                            margin-bottom: 5px;
                            @include font-size($md-font);

                           
                        }
                       
                        h3{
                            font-weight: bold;
                            height: 20%;
                            margin-bottom: 20px;
                            @include font-size($sm-font);
                        }
                        
                    }

                    .button-container{
                        .bg-brand{
                            color: $white;
                            background-color: $brand !important;
                            margin-right: 5px;
                            @include mobile{
                                display: block;
                                margin-bottom: 10px;
                            }
                        }
                    }

                    
                }
            }
        } 
    }

    
   
}