@import 'base/index';

html,
body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscal;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue';
    color: $grey;

    /*!rtl:begin:remove*/
    border:10px solid $black;
    /*rtl:end:remove*/


    
    border-color: $silver/*!rtl:$blue*/;


   
   
}

//////////////
// headers
////////////
h1,
h2,
h3,
h4
{
    font-weight: bold;
    color:$black;
}

//////////////
// links
////////////