@import '../../base/index';

.widget-card-list{
    .widget-content{
        padding: 40px 15px;
        .img-container, .details{
            margin-bottom: 20px;
        }
        .tile-headline {
            h2 {
                @include font-size($lg-font);
                font-weight: 300;
            }  
        }
        a{
            text-transform: uppercase;
            color: $brand;
            @include font-size($xs-font);
            font-weight: bold;
            text-decoration: none;

            i{
                @include font-size($lg-font);
                
            }
        }
    }
    .widget-footer{
        .btn-container{
            text-align: center;
            margin-bottom: 40px;
        }
    }
    &.bg-white{
        .widget-header, .widget-content{
            padding-right: 30px !important;
            padding-left: 30px !important;
        }
    }

    &.bg-brand {
        .widget-header, .widget-content{
            a, i{
                color: $white !important;
            }
        }
    }

    &.vertical{
        .widget-content{
            padding: 40px 15px;

            [class*="col-"]{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .img-container, .details{
                margin-bottom: 30px;
            }
            
            .img-container{
                width: 40%;
                float: left; 

                + .details{
                    width:60%;
                    float: right;
                    padding-left: 30px;
                }
            }
            
        }
    }
    
}